body {
  font-family: "Arial",sans-serif;
  /*background-image: url("images/tufts.png");
  https://css-tricks.com/snippets/css/transparent-background-images -- to get to background opacity/*/
}

div.clearfix{
  clear: both;
}

.question {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

p{
  margin: 0px;
}

span.italics{
  font-style: italic;
}

h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2{
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

h3{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/*header stuff*/

@media all and (max-width:500px){
  /* FIXME: do something with nav */
}


nav{
  background-color: darkblue;
  width: 100%;
  color: white;
  /*float: right;*/
  /*margin: 0 auto;*/
  text-align: center;
}

nav ul{
  list-style: none;
  padding: 10px 0px;
}

nav li{
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid white;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

li#left{
  border-right: 0px solid white;
}

p.float{
  float:left;
}

/*footer stuff*/

div.footer{
  width: 100%;
  background-color: rgb(124, 126, 130);;
  margin: 0px;
  /*border: 2px solid black;*/
}

div.footerleft{
  float: left;
  color: white;
  font-weight: bold;
  padding: 12.5px 0px 0px 20px;
}

div.social{
  height: 30px;
  width: 30px;
  float: right;
  border-radius: 60px;
  background-color: darkblue;
  color: white;
  text-align: center;
  display: table-cell;
  overflow: hidden;
  vertical-align:middle;
  line-height: 30px;
}

div.social a{
  text-decoration: none;
  color: white;
}

div.social a:visited{
  color: white;
}

div.social-wrapper{
  float: right;
  padding: 5px 20px 5px 0px;
