body {
  font-family: "Arial",sans-serif;
  /*background-image: url("images/tufts.png");
  https://css-tricks.com/snippets/css/transparent-background-images -- to get to background opacity/*/
}

p{
  margin: 0px;
}
.question {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

div.clearfix{
  clear: both;
}

h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2{
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

h3{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav{
  background-color: darkblue;
  width: 100%;
  color: white;
  /*float: right;*/
  /*margin: 0 auto;*/
  text-align: center;
}


nav ul{
  list-style: none;
  padding: 10px 0px;

}

nav li{
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid white;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

li#left{
  border-right: 0px solid white;
}

div.center{
  width: 100%;
  /*border: 2px solid black;*/
}

div.pic{
  margin: 0 auto;
  /*border: 5px dashed blue;*/
  width: 500px;
  text-align: center;
}

#profile-pic {
  height: 400px;
}

div.column-left{
width: calc(50%-10px);
float: left;
margin: 20px 10px 0px 0px;
/*border: 1px solid black;*/
/* FIXME: think about what this becomes in responsive framework */
/* FIXME: these arent acting right, they are not 50% of screen */
}

div.column-right{
width: calc(50%-10px);
float: left;
margin: 20px 0px 0px 10px;
/*border: 1px solid black;*/
/* FIXME: think about what this becomes in responsive framework */
}

div.element{
  /*border: 1px solid black;*/
  /*width: 100%;*/
  margin-bottom: 10px;
  box-sizing: border-box;
/* FIXME: how do i make the width be 100% of the wrapper */
}

.book {
  list-style-image: url(images/book.png);
  font-style: italic;
  /* FIXME: how do i have the text align to the bullet appropriately? */
}

.podcast {
  list-style-image: url(images/headphones.png);
}


.icon {
  height: 15px
}

div.leftfloat{
  float: left;
}

div.footer{
  width: 100%;
  background-color: gray;
  margin: 0px;
  /*border: 2px solid black;*/
}

div.footerleft{
  float: left;
  color: white;
  font-weight: bold;
  padding: 12.5px 0px 0px 20px;
}

div.social{
  height: 30px;
  width: 30px;
  float: right;
  border-radius: 30px;
  background-color: darkblue;
  color: white;
  text-align: center;
  vertical-align: center;
  /* FIXME: align it center somehow */
}

div.social a{
  text-decoration: none;
  color: white;
}

div.social a:visited{
  color: white;
}

div.social-wrapper{
  float: right;
  padding: 5px 20px 5px 0px;
  /*border: 2px solid black;*/
  /* FIXME: why is the bottom of my footer acting as a link?!? */
}
