div.center{
  width: 100%;
  /*border: 2px solid black;*/
}

div.pic{
  margin: 0 auto;
  /*border: 5px dashed blue;*/
  width: 500px;
  text-align: center;
  float: left;
}

#profile-pic {
  height: 400px;
}

div.aboutMe{
  float: right;
  width: 60%;
}

.icon {
  height: 15px
}
