body {
  font-family: "Arial",sans-serif;
  /*background-image: url("images/tufts.png");
  https://css-tricks.com/snippets/css/transparent-background-images -- to get to background opacity/*/
}

div.clearfix{
  clear: both;
}

p{
  margin: 0px;
}

span.italics{
  font-style: italic;
}
/*header stuff*/

@media all and (max-width:500px){
  /* FIXME: do something with nav */
}


nav{
  background-color: darkblue;
  width: 100%;
  color: white;
  /*float: right;*/
  /*margin: 0 auto;*/
  text-align: center;
}

nav ul{
  list-style: none;
  padding: 10px 0px;
}

nav li{
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid white;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

li#left{
  border-right: 0px solid white;
}

/*body stuff*/


div.randomwrapper{
  width: 100%;
}

div.buttonwrapper{
  width: 100%;
  float: left;
}

div#randombutton {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: lightblue;
  font-weight: bold;
  float: left;
  margin: 20px 0px 20px 10px;
}

div#favoritebutton{
  width: 50px;
  /*height: 50px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 1px;
  background-color: pink;
  font-weight: bold;*/
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  float: right;
  display: none;
}


div#favorited{
  width: 50px;
  /*height: 50px;
  border-radius: 60px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: gray;
  font-weight: bold;*/
  float: right;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  display: none;
}

div#randomquote{
  width: 600px;
  height: 200px;
  /*background-color: lightgray;
  border: 2px black solid;*/
  margin: 0px 30px;
  float: right;
  display: none;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  /*font-family: ; */
}

div.favoriteswrapper{
  display: none;
  width: 100%
}

div.subheader-wrapper{
  width: 100%;
  margin-top: 20px;
  float: left;
  border-top: 2px black solid;
}

div.subheader{
  width: 300px;
  margin-top: 10px;
  padding-top: 15px;
  float: left;
}

div#clearfav {
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: lightgreen;
  font-weight: bold;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}



div.quote {
  width: 30%;
  height: 200px;
  background-color: lightgray;
  border: 2px black solid;
  float: left;
  margin: 10px 3% 10px 0%;
  padding: 5px;
  display: none;
  box-sizing: border-box;
}

@media all and (max-width:500px){
  div.quote {
    width: 80%;
    margin: 10px 10%;
  }
  div#randomquote{
    width: 80%;
    margin: 10px 10%;

  }
}

/*footer stuff*/

div.footerleft{
  float: left;
  color: white;
  font-weight: bold;
  padding: 12.5px 0px 0px 20px;
}

div.social{
  height: 30px;
  width: 30px;
  float: right;
  border-radius: 30px;
  background-color: darkblue;
  color: white;
  text-align: center;
  vertical-align: center;
  /* FIXME: align it center somehow */
}

div.social a{
  text-decoration: none;
  color: white;
}

div.social a:visited{
  color: white;
}

div.social-wrapper{
  float: right;
  padding: 5px 20px 5px 0px;
  /*border: 2px solid black;*/
  /* FIXME: why is the bottom of my footer acting as a link?!? */
