/*body stuff*/

div.overview{
  position: absolute;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  left: 10%;
  top: 15%;
  z-index: 1;
  border: 2px black solid;
  background: lightgray;
  box-shadow: 5px 5px 5px #888888;
  /*padding-top: 20%
  padding left: 10%*/
}

div.close{
  float: right;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  font-size: 45pt;
}

div.overviewText{
  padding: 2.5%;
  font-size: 20pt;
  font-weight: bold;
  text-align: middle;
}

div.overviewText li{
  margin-bottom: 8px;
}

div.randomwrapper{
  width: 100%;
}

div.buttonwrapper{
  width: 100%;
  float: left;
}

div#randombutton {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: lightblue;
  font-weight: bold;
  float: left;
  margin: 20px 0px 20px 50px;
}

div#favoritebutton{
  width: 50px;
  /*height: 50px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 1px;
  background-color: pink;
  font-weight: bold;*/
  font-size: 30px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 15px;
  float: right;
  display: none;
}


div#favorited{
  width: 50px;
  /*height: 50px;
  border-radius: 60px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: gray;
  font-weight: bold;*/
  float: right;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 15px;
  display: none;
}

div#randomquote{
  width: 600px;
  height: 300px;
  /*background-color: lightgray;
  border: 2px black solid;*/
  margin: 0px 30px;
  float: right;
  display: none;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  /*font-family: ; */
}

div.favoriteswrapper{
  display: none;
  width: 100%
}

div.subheader-wrapper{
  width: calc(100% - 80px);
  margin: 20px 40px 0px 40px;
  float: left;
  border-top: 2px black solid;
}

div.subheader{
  width: 300px;
  margin-top: 10px;
  padding-top: 15px;
  float: left;
}

div#clearfav {
  width: 80px;
  height: 50px;
  border-radius: 40px;
  border: 2px black solid;
  text-align: center;
  padding-top: 0px;
  background-color: lightgreen;
  font-weight: bold;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

div.quote-wrapper{
  margin: 0px 40px;
}

div.quote {
  width: 30%;
  height: 200px;
  border-bottom: 2px black solid;
  float: left;
  margin: 10px 3% 10px 0%;
  padding: 5px;
  display: none;
  box-sizing: border-box;
}

@media all and (max-width:500px){
  div.quote {
    width: 80%;
    margin: 10px 10%;
  }
  div#randomquote{
    width: 80%;
    margin: 10px 10%;
    height: 400px;

  }
  div#randombutton{
    margin: 20px 0px 20px 10px;
  }

  div.subheader-wrapper{
    width: calc(100% - 20px);
    margin-left: 20px;
  }
  div.quote-wrapper{
    margin: 0px 20px;
  }

  /* div.overview{
    height: 80%;
    width: 80%
    top: 10%;
    left: 10%;
} */

  div.close{
    font-size: 30pt;
      height: 50px;
      width: 50px;
  }

  div.overviewText{
    font-size: 11pt;
    text-align: middle;
    font-weight: normal;
  }
}
