div.bodywrapper{
width: 100%
}

div.leftnav{
width: 20%;
background-color: darkblue;
height: 600px;
padding: 10px;
margin-right: 10px;
margin-bottom: 15px;
/* border: 2px solid black; */
float: left;
color: white;
font-weight: bold;
text-decoration: underline;
}

div.title{
  cursor: pointer;
  margin-bottom: 20px;
}

div.text{
  width: 75%;
  background-color: rgb(237, 241, 247);
  height: 600px;
  padding: 10px;
  float: left;
  overflow: auto;
  margin-bottom: 15px;
}

div.writing {
  display: none;
}

.writing li {
  margin: 0 0 10px 0;
}

.writing p {
  margin: 0 0 10px 0;
}

.ssTitle {
  font-weight: bold;
  font-size: 14pt;
}

div#overview {
  display: block;
  font-size: 14pt;
}

#overviewTitle {
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

@media all and (max-width:500px){
  div.text{
    width: 60%;
  }
}
