body {
  font-family: "Arial",sans-serif;
  background-image: url("../images/xmas-border.jpg");
  background-repeat: no-repeat;
  background-size: contain;
    /*background-image: url("images/tufts.png");
  https://css-tricks.com/snippets/css/transparent-background-images -- to get to background opacity/*/
}

div.clearfix{
  clear: both;
}

p{
  margin: 10px;
}

p.float{
  float:left;
}

/*xmas section*/

h2{
  text-align: center;
  margin-bottom: 30px;
}

div.overview{
  position: absolute;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  left: 10%;
  top: 15%;
  z-index: 1;
  border: 2px black solid;
  background: lightgray;
  box-shadow: 5px 5px 5px #888888;
  /*padding-top: 20%
  padding left: 10%*/
}

div.close{
  float: right;
  height: 70px;
  width: 70px;
  text-align: center;
  cursor: pointer;
  font-size: 45pt;
}

div.overviewText{
  width: 60%
  padding: 0% 2.5% 2.5% 2.5%;
  font-size: 20pt;
  font-weight: bold;
  float: left;
}

.overviewText ul li{
  margin-bottom: 5px;
}

.overviewText ol li{
  font-weight: normal;
  font-size: 16pt;
}

div.intro-wrapper{
  width: 100%;
}

div.intro{
  background-color: rgba(211,211,211,0.5);
  /*height: 150px;*/
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

div.progress-wrapper{
  display: none;
  /*float: right;*/
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: lightgray;
}

span.progress-bar {
  margin-right: 10px;
  font-weight: bold;
  color: black;
}

#reset {
  /*float: right;*/
  margin-left: 40%;
  /*padding-left: 100px;*/
}

div.video-wrapper{
  width: 100%
}

.video{
  width: 560px;
  /*margin: 0 auto;*/
  margin-left: 25%;
  float: left;
}

#play-game{
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background-color: black;
  float: left;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  margin: 120px 0px 0px 30px;
}

div.game-wrapper{
  height: 600px;
  width: 100%;
  /*background-color: lightblue;*/
  display: none;
}

div.question{
  display: none;
  Width: 75%;
  /*float: left;*/
  height: 250px;
  background-color: rgba(40,188,7,0.5);
  padding: 10px;
  margin-top: 20px;
  margin: 0 auto;
  font-size: 30pt;
}

div.hint{
  display: none;
  Width: 75%;
  /*float: left;*/
  margin: 0 auto;
  height: 50px;
  background-color: rgba(40,188,7,0.5);
  margin-bottom: 10px;
  font-size: 20pt;
}



div.answer-wrapper{
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#answer{
  float: left;
  margin-left: 30px;
  margin-top: 6px;
  height: 40px;
  width: 400px;
  font-size: 25px;

  /*margin: 0 auto;
  display: block;*/
}

#submit-button{
  margin-top: 5px;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background-color: darkgreen;
  float: right;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  /*margin: 0 auto;
  display: block;*/
}

div.answers{
  display: none;
}

div#timer {
  position: absolute;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  left: 10%;
  top: 15%;
  z-index: 1;
  font-size: 60pt;
  font-weight: bold;
  border: 2px black solid;
  background: lightgray;
  box-shadow: 5px 5px 5px #888888;
  text-align: middle;
  display: none;
  /*padding-top: 20%
  padding left: 10%*/
}

div.task-wrapper{
  width: 100%;
  height: 600px;
  display: none;
}

div.task{
  display: none;
  Width: 75%;
  /*float: left;*/
  margin: 0 auto;
  height: 450px;
  background-color: rgba(237, 49, 49, 0.25);
  font-size: 30px;
  padding: 10px;
}

#task-complete{
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background-color: darkred;
  float: right;
  margin-right: 15%;
  margin-top: 30px;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  /*margin: 0 auto;
  display: block;*/
}

div.winner-circle-wrapper{
  width: 100%;
  display: none;
}

div.winner-circle{
  Width: 75%;
  /*float: left;*/
  margin: 0 auto;
  height: 450px;
  background-color: rgba(40,188,7,0.7);
  font-size: 40pt;
}

.to-do{
  display: none;
}
