body {
  font-family: "Arial",sans-serif;
  /*background-image: url("images/tufts.png");
  https://css-tricks.com/snippets/css/transparent-background-images -- to get to background opacity/*/
}

.question {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

div.clearfix{
  clear: both;
}

h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h2{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h3{
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav{
  background-color: darkblue;
  width: 980px;
  color: white;
  /*float: right;*/
  /*margin: 0 auto;*/
  text-align: center;
}


nav ul{
  list-style: none;
  padding: 10px 0px;

}

nav li{
  display: inline-block;
  padding: 5px 10px;
  border-right: 1px solid white;
}

nav li a{
  text-decoration: none;
  color: white;
}

nav li a:visited{
  color: white;
}

div.clearfix{
  clear: both;
}

li#left{
  border-right: 0px solid white;
}

div.center{
  width: 980px;
  /*border: 2px solid black;*/
}

div.pic{
  margin: 0 auto;
  /*border: 5px dashed blue;*/
  width: 500px;
  text-align: center;
}

#profile-pic {
  height: 400px;
}

div.column{
width: 50%;
float: left;
/*box-sizing: border-box;*/
}

div.element{
  border: 1px solid black;
  box-sizing: border-box;
}

.book {
  list-style-image: url(images/book.png);
  font-style: italic;
  /* FIXME: how do i have the text align to the bullet appropriately? */
}

.podcast {
  list-style-image: url(images/headphones.png);
}


.icon {
  height: 30px
}
